@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,800');

/* form {
  width:60%;
  margin:0 auto;
  padding-top:4em;
} */
.removeButton {
  font-family: 'Montserrat', sans-serif;

  height:30px;
  width: 120px;
  border-style:solid;
  border-width:2px;
  border-color:white;
  border-radius:12px;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  box-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 .8em red,
               0 0 .8em red,
               0 0 2em red;
}

.my-events {
  color: white;
  position:fixed;
  background-color: transparent;
  top:220px;
  border-style:solid;
  border-width:3px;
  border-color:white;
  border-radius: 15px;
  box-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 .5em red,
               0 0 1em red,
               0 0 3em red;

  width: 460px;
  height: 100px;
  -webkit-box-sizing: border-box;
  font: 24px/2 din;
  left: -195px;
  -webkit-transform: rotate(-90deg);
  text-align: center;
  writing-mode: vertical-lr;
  margin-top: 40px;

}

#my-events-title{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 .5em red,
               0 0 1em red,
               0 0 3em red;
}


.events-text{
  padding-right: -200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 .5em red,
               0 0 1em red,
               0 0 3em red;
}

#venue {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  text-align: left;
  padding-top: 20px;
}

#city {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 26px;
}

#dateSpan {
  text-align: center;
}

#band-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: left;
  padding-top: 50px;
}


.boxbox {
  margin-right:auto;
  margin-left:auto;
  height:60px;
  width: 600px;
  border-style:solid;
  border-width:6px;
  border-color:white;
  border-radius: 15px;
  box-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 1em red,
               0 0 2em red,
               0 0 6em red;
}

.selectDrop {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height:35px;
  width: 240px;
  border-style:solid;
  border-width:2px;
  border-color:white;
  border-radius: 15px;
  outline: none;
  background-color: transparent;
  color: white;
  box-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 1em red,
               0 0 2em red,
               0 0 6em red;

}

span {
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#month{
  font-size: 28px;
}

#day{
  font-size: 72px;margin-top:-15px
}

.addButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 30px;
  width: 120px;
  border-style:solid;
  border-width:2px;
  border-color:white;
  border-radius:12px;
  outline: none;
  background-color: transparent;
  color: white;

  box-shadow:  0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 .8em red,
               0 0 .8em red,
               0 0 2em red;

}

.search, .submit {
  font-size: 24px;
  padding: 0 15px;
  height: 100%;
  border:none;
  width:90%
}
.events, p {
  color: white;
}

.search {
  highlight-color: white;
  background-color: transparent;
}

textarea, input {
   font-family:"open sans", sans-serif;
   color: white;
}

textarea:focus, input:focus {
   color:white;
   outline:none;
}

.submit {
  font-weight:600;
  background:transparent;
  color:white;
  height:99%;
  width:18%;
  float:right;
  transition: all 100ms ease-in-out;
  border-radius: 12px;
}

.submit:hover {
  text-shadow: 0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 1em red,
               0 0 2em red,
               0 0 6em red;
}

.App {
  text-align: center;
  background: url('http://www.tompetty.com/sites/g/files/g2000004366/f/201412/TP-BG14-1920x1200.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App{
z-index: 9999;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
overflow: auto;
}

.Band-photo {
    max-width: 100%;
    max-height: 100;
  }


.App-intro {
  font-size: 90px;
  font-family: 'Monoton', cursive;
  margin: auto;
  font-size: 11vw;
  color: white;
  text-shadow: 0 0 .1em white,
               0 0 .1em blueviolet,
               0 0 .1em red,
               0 0 .1em red,
               0 0 .2em red,
               0 0 .2em red,
               0 0 1em red,
               0 0 2em red,
               0 0 6em red;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

button:focus {
  outline:0;}
